<!DOCTYPE html>
<html>

<head>
    <title>MUSEFIND</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,100,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/scripts/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg" ng-controller="accountSetupController" ng-cloak>
    <div class="load-wrapper" ng-if="progress">
        <div class="inner-load">
            <div class="load-logo" >
                Mf
            </div>
            <div class="progress-custom" style='width:200px;'>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <section class="header transparent" layout="row">
        <div flex="66" class="title">MUSEFIND</div>
        <div flex="33" class="menu">
            <ul>
                <li>
                    <md-button>HOME</md-button>
                </li>
                <li>
                    <md-button>JOIN</md-button>
                </li>
                <li>
                    <md-button>LOGIN</md-button>
                </li>
                <li>
                    <md-button>CONTACT</md-button>
                </li>
            </ul>
        </div>
    </section>
    <div layout="column" layout-align="center center" style="padding-bottom: 300px;padding-top: 50px;">
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="setup-wrapper">
            <div layout="column" layout-align="center center" flex="33" class="center btn-wrapper">
                <button class="btn btn-setup" ng-class="{'finished':countStep >=0}">1</button>
                ACCOUNT SETUP
            </div>
            <div layout="column" layout-align="center center" flex="33" class="center btn-wrapper" >
                <button class="btn btn-setup" ng-class="{'finished':countStep >=1}">2</button>
                BRAND DETAILS
            </div>
            <div layout="column" layout-align="center center" flex="33" class="center btn-wrapper" >
                <button class="btn btn-setup" ng-class="{'finished':countStep > 1}">3</button>
                YOUR DETAILS
            </div>
        </section>
        <md-whiteframe class="md-padding setup md-whiteframe-5dp">
            <div layout="column">
                <div flex class="center title-form">{{title}}</div>
                <div flex class="center sub-title-form">{{subTitle}}.</div>
                
                <form name="accountForm" flex  class="form-account" >
                    <div layout="column" ng-if="state=='basic'">
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Name</label>
                            <input ng-model="account.name" name="name" required>
                        </md-input-container>
                        <md-input-container flex style="margin:0px">
                            <label>Position</label>
                            <input ng-model="account.position" name="position" required>
                        </md-input-container>
                        <md-input-container flex style="margin:0px">
                            <label>E-mail</label>
                            <input ng-model="account.email" name="email" ng-pattern="email" required>
                        </md-input-container>
                        <md-input-container flex style="margin:0px">
                            <label>Password</label>
                            <input ng-model="account.password" name="password" type="password" required>
                        </md-input-container>
                        <md-input-container flex style="margin:0px">
                            <label>Password Confirmation</label>
                            <input ng-model="account.confirmPassword" name="confirmPassword" type="password" required>
                        </md-input-container>
                    </div>
                    <div layout="column" ng-if="state=='brand-details'">
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Your Company Name</label>
                            <input ng-model="account.companyName" name="companyName" required>
                        </md-input-container>
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Contact Number</label>
                            <input ng-model="account.phone" name="phone" required>
                        </md-input-container>
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Address 1</label>
                            <input ng-model="account.address1" name="address1" required>
                        </md-input-container>
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Address 2</label>
                            <input ng-model="account.address2">
                        </md-input-container>    
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>Zip</label>
                            <input ng-model="account.zip" required name="zip">
                        </md-input-container>    
                        <div flex layout="row">
                            <md-input-container flex class="md-primary" style="margin:0px">
                                <label>City</label>
                                <input ng-model="account.city" name="city" required>
                            </md-input-container>    
                            <md-input-container flex class="md-primary" style="margin:0px">
                                <label>State</label>
                                <input ng-model="account.state" required name="state">
                            </md-input-container>
                            <md-input-container flex class="md-primary" style="margin:0px">
                                <label>Country</label>
                                <input ng-model="account.country" required name="country">
                            </md-input-container>
                        </div>
                    </div>
                     <div layout="column" ng-if="state=='submit'">
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <label>What vertical would you say you are in?</label>
                            <input ng-model="account.verticalPosition" required name="verticalPosition">
                        </md-input-container>
                        <md-input-container flex class="md-primary" style="margin-top:40px">
                            <textarea required name="experiences" ng-model="account.experiences" placeholder="Tell us about your previous experiences with influencer marketing, for example: I've completed 1o campaigns with on influencer each."></textarea>
                        </md-input-container>
                        <md-input-container flex class="md-primary" style="margin:0px">
                            <textarea required name="measureSuccess" ng-model="account.measureSuccess" placeholder="Tell us about how you measure success."></textarea>
                        </md-input-container>
                    </div>
                    <div class="center">
                        <md-button ng-if="state!=='basic'" class="md-raised md-primary" ng-click="prev()">
                            Previous
                        </md-button>
                        <md-button ng-if="state!=='submit'" class="md-raised md-primary" ng-click="next()">
                            Next
                        </md-button>
                        <md-button ng-if="state==='submit'" class="md-raised md-primary" ng-click="save()">
                            Submit
                        </md-button>
                    </div>
                    
                </form>
            </div>
        </md-whiteframe>
    </div>
    <div class="footer" layout="row">
        <div flex="50" class="copyright center">Copyright: 2016. MuseFind</div>
        <div flex="50" class="social-networks center">
            <div class="fa fa-instagram"></div>
            <div class="fa fa-facebook"></div>
            <div class="fa fa-twitter"></div>
            <div class="fa fa-linkedin"></div>
        </div>
    </div>

    <script src="/scripts/angular/angular.min.js"></script>
    <script src="/scripts/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/scripts/angular-route/angular-route.min.js"></script>
    <script src="/scripts/angular-animate/angular-animate.min.js"></script>
    <script src="/scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/scripts/angular-messages/angular-messages.min.js"></script>
    <script src="/scripts/angular-material/angular-material.min.js"></script>

    <script src="/js/route.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controller/accountController.js"></script>
    <script src="/js/service/service.js"></script>
</body>

</html>